:root {
  --font-family: 'IBM Plex mono';
  --bg-image: url(/images/cover-image-dark.png);
  --accent-color: #ff0070;
  --bg-color: #000028;
  --corner-color: #FF0070;
  --menu-color: #FF0070;
  --menu-color-hover: rgba(255,0,112, 0.4);
  --main-title-color: #DB00FF;
  --title-decor-bgcolor: #FF0070;
  --title-decor-color: #000028;
  --content-section-color: #F1B2CE;
  --section-header-color: #FF0070;
  --link-shadow: #FF0070;
  --link-border-color: #F1B2CE;
  --link-focusvisible-color: #F1B2CE;
  --footer-text-color: #DB00FF;
}/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
